@import "index.css";

.character {
	a {
		color: lightblue;
		text-decoration: none;
	}

	ul {
		list-style-position: inside;
	}
}

.character-top {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 20px;
	background-color: var(--blue-color);
	padding: 20px;
	align-items: center;
}

.character-bottom {
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: left;
	gap: 40px;
}

.arrow:hover {
	cursor: pointer;
}

.arrow-filler {
	width: 50px;
}
