@import "index.css";

.character {
	.character-image {
		width: 200px;
		height: fit-content;
	}

	a {
		color: lightblue;
		text-decoration: none;
	}

	ul {
		list-style-type: none;
	}

	ul ul {
		list-style-type: disc;
		list-style-position: inside;
	}
}

.character-top {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 20px;
	background-color: var(--blue-color);
}
