.gallery {
	ol {
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		row-gap: 35px;
	}

	li {
		background-color: var(--blue-color);
		border: var(--off-white-color) solid 1px;
		margin: auto 20px;
	}

	li:hover {
		cursor: pointer;
		border-color: var(--orange-color);
		color: var(--orange-color);
	}

	a {
		padding: 10px;
		text-decoration: none;
		color: inherit;
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		gap: 10px;
	}
}
