:root {
	--darkest-color: black;
	--blue-color: #14213d;
	--orange-color: #fca311;
	--off-white-color: #e5e5e5;
	--lightest-color: white;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--darkest-color);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--lightest-color);
	padding: 30px 0 50px;
}

nav {
	display: flex;
	gap: 45px;
	justify-content: center;

	a {
		color: var(--off-white-color);
		text-decoration: none;
		background-color: var(--blue-color);
		padding: 20px;
		font-size: 30px;
		width: 140px;
		border-radius: 15%;
		border: solid var(--darkest-color);
	}

	a:hover {
		color: var(--lightest-color);
		font-weight: bold;
		border-color: var(--orange-color);
	}

	.current-nav {
		color: var(--lightest-color);
		font-weight: bold;
		border-color: var(--darkest-color);
		border-bottom-color: var(--lightest-color);
	}

	.current-nav:hover {
		cursor: default;
		border-color: var(--darkest-color);
		border-bottom-color: var(--lightest-color);
	}
}

.radios input {
	margin: 0 0 9px 10px;
}

.checkboxes input {
	margin: 9px 0 30px 20px;
}

h1 {
	color: var(--orange-color);
	padding: 35px 5px 20px;
}

input {
	padding: 5px;
}

footer {
	background: var(--orange-color);
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

footer span {
	background-color: var(--darkest-color);
	height: 70%;
	padding: 7px;
	width: 250px;
	text-wrap: nowrap;
	overflow: auto clip;
	scrollbar-width: thin;
	display: flex;
	justify-content: start;
	align-items: center;
	cursor: not-allowed;
}

@media (width <= 600px) {
	footer {
		gap: 10px;
	}

	footer span {
		width: 150px;
	}
}
