:root {
	--darkest-color: black;
	--blue-color: #14213d;
	--orange-color: #fca311;
	--off-white-color: #e5e5e5;
	--lightest-color: white;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--darkest-color);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--lightest-color);
}

h1 {
	color: var(--orange-color);
	padding: 35px 5px 20px;
}

input {
	padding: 5px;
	margin: auto auto 30px;
}

ol {
	list-style-type: none;
	color: var(--lightest-color);
}

li {
	background-color: var(--blue-color);
	border: var(--off-white-color) solid 1px;
	height: 60px;
	width: 200px;
	margin: 15px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

li:hover {
	cursor: pointer;
	border-color: var(--orange-color);
	color: var(--orange-color);
}

a {
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	display: flex;
	align-items: center;
	background: var(--orange-color);
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
}

footer p {
	position: absolute;
	left: 20px;
	margin: auto;
}
