:root {
	--darkest-color: black;
	--blue-color: #14213d;
	--orange-color: #fca311;
	--off-white-color: #e5e5e5;
	--lightest-color: white;
}

/*
* {
	margin: 0;
	box-sizing: border-box;
}
*/

body {
	background-color: var(--darkest-color);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: var(--orange-color);
}
